@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html {
 font-family: "HelveticaRegular", sans-serif;
 font-weight: 500;
}

html[data-useragent*='Mac OS X'] {
    font-family: "HelveticaRegular", sans-serif;
    font-weight: 500;
}

.pos-relative {
	position: relative;
	width: 100%;
}

body {
    background-color: #191919;
}

/*.mfp-wrap {
    background-color: #191919;
}*/

html {
	margin-right: 0!important;
}

.container {
	max-width: 1000px;
}

header hr {
	height: 2px;
	background-color: #fff;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	border: none;
}

.logo {
	position: absolute;
	left: 30px;
	top: 21px;
}

.logo img {
	-webkit-box-shadow: -8px 8px 12px black;
	        box-shadow: -8px 8px 12px black;
}

.head-top, 
.head-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  background-size: cover;
  background-position: center;
  padding-left: 170px;
}

.head-top {
	background-image: url(../img/header-img/head-top.png);
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.head-bottom {
	background-image: url(../img/header-img/head-bottom.png);
	padding-top: 10px;
}

.head-top p {
  font-size: 36px;
  font-family: "HelveticaBold";
  font-weight: bold;
  text-transform: uppercase;
  color: #2a2c2c;
  letter-spacing: 0.015em;
  padding-bottom: 5px;
  margin-left: -2px;
}

.head-bottom p {
  font-size: 18px;
  font-family: "HelveticaBold";
  font-weight: bold;
  text-transform: uppercase;
  color: #292b2a;
  letter-spacing: .042em;
}

.description p {
	font-family: 'HelveticaRegular';
	text-align: justify;
	font-size: 14px;
	letter-spacing: 0.011em;
	line-height: 27px;
}

.paragraph {
	margin-bottom: 10px;
}

/*----------------------------*/
/*-------- Navigation ------- */
/*----------------------------*/

nav {
	height: 35px;
}

a.nav-item {
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px!important;
	font-family: 'HelveticaRegular';
	letter-spacing: 0.015em;

}

.navbar { padding-left: 0px;}


a.nav-item.nav-link:first-child {
    padding-left: 0px;
}

.navbar-nav a.nav-item.nav-link:hover {
	color: #6699cc;
}

a.nav-item:after {
	content:'';
  	background-color: rgb( 126, 126, 126 );
	width: 6px;
  	height: 6px;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	margin: 0 8px 0 25px;
}

a.nav-item.nav-link:last-child:after {
	display: none;
}

.bg-nav {
	background-color: #252626;
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 15px;
	width: 1000px;

}



/*--------------------------------*/
/*------------ Slider ------------*/
/*--------------------------------*/

.carousel-item img {
	max-width: 1000px;
	margin:auto;
}

.carousel-control-prev, 
.carousel-control-next{
	background-color: transparent;
}

.carousel-inner {
	background: #191919;
} 

/*--------------------------------*/
/*-------------- HOME ------------*/
/*--------------------------------*/

section.container.home {
    padding-left: 29px;
    padding-right: 29px;
}

section.container.home .wrap-descr {
	padding-left: 38px;
}

section h1 {
	font-family: "HelveticaBold";
	font-size: 24px;
	margin-bottom: 22px;
	padding-top: 34px;
}

section {
	background-color: #f8fcfc;
} 

.home .description {
	position: relative;
	top: -10px;
}

section.home {
	min-height: 443px;
} 

/*--------------------------------*/
/*------------- ABOUT ------------*/
/*--------------------------------*/
section.container.about-me {
    padding-left: 30px;
    padding-right: 29px;
    min-height: 443px;
}

section.about-me h1 {
	margin-bottom: 16px;
}
	
.about-me  .paragraph {
    margin-bottom: 6.4px;
}

.about-me .description p {
	line-height: 20px;
}



/*--------------------------------*/
/*----------- SERVICES -----------*/
/*--------------------------------*/
.services {
	min-height: 443px;
	padding-right: 30px;
	padding-left: 30px;
}

.services .col-sm-6.left-block {
	padding-right: 5px
}

.services .col-sm-6.right-block {
	padding-left: 100px;
}

.services .description p {
	line-height: 20px;
}

.services ul li {
	list-style: outside;
	line-height: 20px;
	font-family: 'HelveticaRegular';
	font-size: 14px;
}

.services ul {
  padding-left: 16px;
}

.services h1 {
	margin-bottom: 18px;
}

.services .bottom-block {
	padding-top: 32px;
}

.col.bottom-block p {
    line-height: 16px;
}


/*--------------------------------*/
/*---------- PORTFOLIO -----------*/
/*--------------------------------*/

.container.portfolio {
	padding-left: 30px;
	padding-right: 30px;
}

.container.portfolio h1{
	margin-left: -1px;
	margin-bottom: 5px;
}

.row.miscellaneous {
    padding-bottom: 21px;
}

.commercial h2,
.bridges h2,
.miscellaneous h2{
    margin-top: 4px;
}

.category-name {
	padding-left: 0;
	padding-right: 0;
}

.category-name h2 {
	background-image: url('../img/portfolio/h2-background.png'); 
	background-size: cover;
	height: 30px;
	font-size: 20px;
	letter-spacing: 0.011em;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'HelveticaRegular';
}

.portfolio .card {
	background: transparent;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 300px;
}

.portfolio .card-title {text-align: center;}

.card-title {
    font-family: 'HelveticaRegular';
    font-size: 12px;
    letter-spacing: 0.011em;
    line-height: 14px;
}

.card-body {
    padding-top: 8px;
    padding-bottom: 12px;
}

.portfolio .card a {
	-webkit-box-shadow: -6px 6px 18px 0px black;
	        box-shadow: -6px 6px 18px 0px black;
}

.portfolio .card a:hover {
    -webkit-box-shadow: 0px 3px 20px black;
            box-shadow: 0px 3px 20px black;
}

a.image-popup-vertical-fit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.card-img-top {height: 100%;}

/*--------------------------------*/
/*------- DRAWING SAMPLES --------*/
/*--------------------------------*/
.drawing-samples {
	padding-right: 30px;
	padding-left: 30px;
}

.drawing-samples h1 {
	margin-bottom: 6px;
}

.drawing-samples .card {
	background: transparent;
	border: none;
}

.drawing-samples .card-title {text-align: center;}

.drawing-samples .card a {
	-webkit-box-shadow: -6px 6px 18px 0px black;
	        box-shadow: -6px 6px 18px 0px black;
}

.drawing-samples .card a:hover {
    -webkit-box-shadow: 0px 3px 20px black;
            box-shadow: 0px 3px 20px black;
}

.assembly,
.single {margin-top: 5px;}

/*--------------------------------*/
/*----------- SOFTWARE -----------*/
/*--------------------------------*/
.software {
	padding-right: 29px;
	padding-left: 30px;
	min-height: 443px;
}

.software h1 {
	margin-bottom: 18px;
}

/*--------------------------------*/
/*----------- CONTACT ------------*/
/*--------------------------------*/

.contact {
	padding-right: 29px;
	padding-left: 30px;
	min-height: 443px;
}

.contact h1 {
	margin-bottom: 15px;
}

.contact-row {
	padding-top: 4px;
}

.contact-row strong {
	font-family: 'HelveticaBold';
	font-size: 14px;
	letter-spacing: 0.011em;
	line-height: 25px;
}

.text-decoration {
    border-bottom: 2px solid;
}

.contact .address p {
	font-family: 'HelveticaRegular';
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 1px;
}   

.contact .address .tel,
.contact .address .email {
	font-weight: 500;
}

.contact-form button{
	background-color: #16264e;
	color:#fff;
}

.contact-form button:hover{
	background-color: #16264e;
	color:#f8fcfc;
}

.contact-form input,
.contact-form textarea{
	border-radius: 0px;
}

.contact-form {
    padding-top: 7px;
}


::-webkit-input-placeholder {
    font-size: 14px;
    letter-spacing: 0.011em;
    font-family: 'helveticaregular';
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
    letter-spacing: 0.011em;
    font-family: 'helveticaregular';
}
:-ms-input-placeholder { /* IE 10+ */
  	font-size: 14px;
    letter-spacing: 0.011em;
    font-family: 'helveticaregular';
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  letter-spacing: 0.011em;
  font-family: 'helveticaregular';
}


/*--------------------------------*/
/*------------ FOOTER ------------*/
/*--------------------------------*/

footer.d-flex.container {
    padding-left: 30px;
    padding-top: 6px;
    max-height: 100px;
    height: 100px;
    min-height: 100px;
}

footer {
	min-height: 140px;
	/*background-image: url(../img/footer/footer-bg.png);*/
	background-image: url(../img/header-img/head-top.png);
	background-size: cover;
	background-position: center;
}

.footer-left-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.footer-left-block {
	padding-top: 5px; 
}

.footer-left-block span:last-child {
	white-space: nowrap;
	font-family: 'HelveticaRegular';
	letter-spacing: 0.011em;
	font-size: 11px;
	padding-top: 11px;
	padding-left: 1px;
}

.footer-center-block span:first-child {
	font-family: 'HelveticaBold';
	letter-spacing: 0.011em;
}

.footer-left-block span,
.footer-center-block a,
.footer-center-block span{
	font-size: 11px;
	color: black;
	letter-spacing: 0.011em;
	font-family: 'HelveticaRegular';
	
}

.footer-left-block span {
	line-height: 17px;
}

.footer-center-block a:hover {
	text-decoration: none;
	color: #f8fcfc;
}


.quicklinks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	line-height: 15px;
}

.footer-center-block,
.footer-right-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 8px;
	padding-bottom: 13px;
}

.footer-center-block {
	padding-top: 6px;
}

.footer-right-block {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-right: 29.5px;
	padding-top: 8px;
}

.footer-right-block span {
	font-family: "HelveticaBold";
	letter-spacing: 0.011em;
	font-size: 11px;
	padding-right: 24px;
	color: #000;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social a:not(:last-child) {margin-right: 8px;}

.social a {
	width: 35px;
	height: 35px;
	background-position: center;
	background-size: contain;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

a.facebook {
	background-image: url(../img/footer/facebook.png);
}

a.facebook:hover {
	background-image: url(../img/footer/facebook-hover.png);
	color: transparent;
}

a.linkedin {
	background-image: url(../img/footer/linkedin.png);
}

a.linkedin:hover {
	background-image: url(../img/footer/linkedin-hover.png);
	color: transparent;
}

a.sketch {
	background-image: url(../img/footer/sketch.png);
}

a.sketch:hover {
	background-image: url(../img/footer/sketch-hover.png);
	color: transparent;
}



/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden; 
	-webkit-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}




@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1024px) {
	.social {
		padding-top: 7px;
	}

	.quicklinks {
	    position: relative;
	    left: 3px;
	    min-height: 77px;
	    height: 77px;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}

	.card.col-12.col-sm-4 {
		padding: 0px;
	}

	.row.industrial .card.col-12.col-sm-4:nth-child(3n-1) {
	    margin-right: 20px;
	}

	.row.industrial .card.col-12.col-sm-4:nth-child(3n) {
	    margin-right: 20px;
	}

	.row.bridges .card.col-12.col-sm-4:nth-child(3n-1) {
	    margin-right: 20px;
	}

	.row.bridges .card.col-12.col-sm-4:nth-child(3n) {
	    margin-right: 20px;
	}

	.row.miscellaneous .card.col-12.col-sm-4:nth-child(3n-1) {
	    margin-right: 20px;
	}

	.row.miscellaneous .card.col-12.col-sm-4:nth-child(3n) {
	    margin-right: 20px;
	}

	.card-img-top {
		max-width: 300px;
		width: 300px;
	}

	.drawing-samples .card-img-top {
		max-width: 300px;
		width: 300px;
		height: 212px;
	}

	.commercial .card.col-12.col-sm-4:nth-child(2) {
	    margin-right: 10px;
	}

	.commercial .card.col-12.col-sm-4:nth-child(3) {
	    margin-left: 10px;
	}

	.drawing-samples .card a {
	    -webkit-box-shadow: -6px 6px 18px 0px black;
	            box-shadow: -6px 6px 18px 0px black;
	    max-width: 300px;
	    width: 300px;
	    height: 212px;
	}

	.drawing-samples .card.col-12.col-sm-4 {
		width: 300px;
		min-width: 300px;
		max-width: 300px;
	}

	.drawing-samples .card.col-12.col-sm-4:nth-child(3n) {
	    margin-right: 20px;
	}

	.drawing-samples .card.col-12.col-sm-4:nth-child(3n-1) {
	    margin-right: 20px;
	}

	.drawing-samples .card-body {
	    padding-top: 7px;
	}

	.drawing-samples .card.col-12.col-sm-2 {
	    width: 172px;
	    min-width: 172px;
	    max-width: 172px;
	    padding: 0;
	}

	.drawing-samples .single-row .card a{
		width: 172px;
		min-width: 172px;
		max-width: 172px;
		height: 242px;
	}

	.drawing-samples .card.col-12.col-sm-2 .card-img-top{
		width: 172px;
		min-width: 172px;
		max-width: 172px;
		height: 242px;
	}

	.row.justify-content-between.single-row {
	    padding-bottom: 29px;
	}

	.software .paragraph {
		margin-bottom: 11px;
	}

	.software .description p {
		line-height: 20px;
	}

	.contact .description p {
		word-spacing: 1.8px;
	}

	input.form-control {
	    height: 30px;
	    width: 250px;
	}

	.form-group.col-6.pl-0 {
	    max-width: 250px;
	}

	.form-group.col-6 {
	    max-width: 250px;
	}

	.reset-margin {
		margin-right: 0;
		margin-left: 0;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.form-group.col-6:first-child {
	    margin-right: 15px;
	}

	textarea {
	    width: 515px;
	    max-width: 515px;
	    margin-left: auto;
	    height: 116px!important;
	}

	.form-group.text-group {
	    margin-bottom: 15px;
	    margin-top: -1px;
	}

	.contact button.btn {
    	width: 130px;
    	height: 30px;
		border-radius: 0;
		font-family: 'HelveticaBold';
		font-size: 14px;
		padding: 0;
	}

}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 14.4px;
	}

}


@media screen and (max-width: 991px) {
	a.nav-item:after {display: none;}
	nav {
	    height: auto;
	}
}

@media screen and (max-width: 768px) {
	.home .photo {width: 100%;}
	.footer-left-block span {line-height: 1.5em;}
	.contact button.btn {margin-bottom: 15px;}
}

@media screen and (max-width: 576px) {
	.head-top p {
		font-size: 26px;
	}
	.footer-left-block span:last-child,
	.footer-right-block span {
		position: unset;
	}
	.footer-left-block span {
	    line-height: 1.2em;
	}
	.footer-left-block {
		padding-right: 0;
		padding-top: 7px;
	}

	.footer-right-block {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	section.container.home .wrap-descr {
		padding-left: 0px;
		padding-top: 10px;
	}
	footer.d-flex.container {
		height: auto;
		max-height: inherit;
	}
	.services .col-sm-6.left-block {
		padding-left: 5px;
	}

	.services .col-sm-6.right-block {
	    padding-left: 5px;
	    margin-top: 25px;
	}

	.services .bottom-block {
		padding-left: 5px;
	}
}

@media screen and (max-width: 396px) {
	.head-top p {
		font-size: 16px;
	}
	.head-bottom p {
		font-size: 12px;
	}
}


